:root {
    --bodyBack: #1C1C1C;
    --contrast: #6943FF;
    --light: #FFFFFF;
    --lightBack: #F4F4F4;
    --dark: #273549;
    --darkBack: #1F2937;
    --textDark: #353535;
    --textlight: #CCC1FF;  
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: var(--bodyBack);
}
.app-container {
    position: relative;
    width: 550px;
    height: auto;
    margin: 50px auto;
}
.input-container {
    background-color: var(--contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    color: var(--light);
    overflow: hidden;
}
.input-units {
    height: 75px;
    width: 120px;
    border: 1px solid var(--light);
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    color: var(--light);
    padding: 5px;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
/*  remove the increment and decrement buttons from the input type number - compatible with Chrome and Mozilla.*/

.input-units::-webkit-inner-spin-button,
.input-units::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.input-units { 
    -moz-appearance:textfield; 
}

/*https://es.stackoverflow.com/questions/20484/c%C3%B3mo-eliminar-los-botones-de-un-input-number*/

.btn-convert {
    border-radius: 5px;
    border: none;
    padding: 8px 25px;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s;
}
.btn-convert:active {
    background-color: var(--textlight);
}
.conversions-container {
    background-color: var(--lightBack);
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.1s;
}
.dark {
    background-color: var(--darkBack);
    color: var(--textlight);
}
.dark div {
    background-color: var(--dark)
} 
.dark p {
    color: var(--light);
}
.conversion-description {
    background-color: var(--light);
    padding: 10px 0;
    box-shadow: 0 0 1px var(--bodyBack);
    border-radius: 5px;
}
.button-theme {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--textlight);
    border: 1px solid var(--dark);
    box-shadow: 2px 2px 0 var(--textDark);
    cursor: pointer;
    transition: 0.1s;
    padding: 0;
}
.button-theme:active {
    position: absolute;
    box-shadow: 0px 0px 0 var(--textlight);
    top: 11px;
    right: 18px;
}

